@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8f87af;
  color: #dddbd4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

h1 {
  font-size: 8rem;
  margin-top: -7rem;
  padding-bottom: 3rem;
}

.container input {
  padding: 1em 3em;
  background-color: #dddbd4;
  border: 1px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.container button {
  padding: 1em 1em;
  margin-left: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  border-radius: 10px;
  background-color: #dddbd4;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -7rem;

}

ul li {
  list-style: none;
  cursor: pointer;
}